name: Dependency Check

on:
  workflow_dispatch:
  schedule:
  - cron: '0 5 * * *'

defaults:
  run:
    shell: pwsh

jobs:
  Dependencies:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: dotnet Version
      run: dotnet --version
    - name: Check project dependencies
      id: dependencies
      uses: mawosoft/dotnet-dependency-alert@v1
    - name: Check tool dependencies
      id: tooldependencies
      run: ./build/checkToolDependencies.ps1 -Token (ConvertTo-SecureString ${{ secrets.GITHUB_TOKEN }} -AsPlainText)
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ steps.tooldependencies.outputs.ArtifactName }}
        path: ${{ steps.tooldependencies.outputs.ArtifactPath }}
        retention-days: 5
